body    {
    background: honeydew;
    }
img {
    height: 75px;
    width: 75px;
}
h1  {
    color: burlywood;
    text-shadow: 4px 6px 7px black;
    font-family: 'Indie Flower';
    font-style: bold;
    font-size: 72px;
    text-align: center;
    }
h3  { 
        color:brown;
        font-family: 'Indie Flower';
        font-style: bold;
        text-align: center;
        }
    
   
.player1Score    {
    font-family: 'Indie Flower', cursive;
    color: brown;
    text-shadow: 2px 2px 2px black; 
    font-size: 36px;  
    float: left; 
    }

 .player2Score    {
    font-family: 'Indie Flower', cursive;
    color: burlywood;
    text-shadow: 2px 2px 2px black; 
    font-size: 36px;   
    float: right; 
        }

#time   {
    font-family: 'indie Flower';
    color: brown;
    font-size: 60px;
    float: right;
    text-align: center;
    text-shadow: 2px 3px 5px black;
    
    }
#startBtn   {
    font-family: 'Indie Flower', cursive;
    font-style: bold;
    font-size: 30px;
    color:brown;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    background: burlywood;
    float: left;
    }
.square {
background-color:rgb(0, 155, 0);
background: rgb(0, 155, 0);
width: 75px;
height: 75px;
display: inline-block;
vertical-align: top;


    }

.board {
    width: 800px;
    height: 400px;
    border-radius: 2%;
    background-color: rgb(0, 155, 0);
    margin: 0 0 0 170px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    background: rgba(255, 99, 71, 0.00);
}